* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    text-align: center;
}

.place {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.buttons {
    gap:2em;
    padding:1em;
    margin-top: 80px;
}

.counterValue {
    max-width:60px;
    border: 2px solid #222222;
}

button {
    max-width: 180px;
    min-width: 120px;
    height: 38px;
    border:  3px groove #1c3f1c;
    font-size: x-large;
}

.bReset {}